<div id="custom-content" class="white-popup-block">

	<div class="row">
		<div class="col-sm-12 text-center">

			<!-- Put your image here -->

			<img src="/assets/intellitestLarge.png" alt="">

		</div><!-- .col -->
	</div><!-- .row -->

	<div class="popup-content">
		<div class="row">

			<div class="col-sm-12">

				<div class="popup-header">
					<h2 class="popup-title">Quest - IntelliTest</h2>
					<div class="popup-subtitle">
						Image
					</div>
					<div class="popup-line"></div>
				</div>

			</div>

		</div>

		<div class="row">

			<div class="col-sm-12">
				<p>Quest Intellitest is a branch of the Quest corporation, who also owns Dermpath (one of the largest Dermatologist providers in the US).</p>
				<p>Intellitest is a patient and provider portal for lab result tests over the past 12 months. It provides sensitive medical information on a secure website. It does analytical processes to provide medical info on almost anything you could imagine. Quest provides support for all form of providers (doctors) this was an extremely large project. </p>
				<p>For more information, click on the link below and then click on the green "learn more" button to find out how this app works.</p>
				<p>You can preview Startup Framework <a href="https://intellitestmanager.questdiagnostics.com/">here</a>.</p>
			</div>

		</div>

	</div>

	<section class="popup-callout">
		<div class="row">

			<div class="col-sm-12">
				<h3>Like Our Works?</h3>
				<div class="module-line"></div>
			</div>

			<div class="col-sm-12">
				<div class="btn-list">
					<a href="index.html#services" class="btn btn-custom-3" target="_blank">View Services</a>
					<a href="index.html#contact" class="btn btn-custom-4" target="_blank">Start Project</a>
				</div>
			</div>

		</div>
	</section>

</div>