<div id="custom-content" class="white-popup-block">

  <div class="row">
    <div class="col-sm-12 text-center">

      <!-- Put your image here -->

      <img src="/assets/row52Large.png" alt="">

    </div><!-- .col -->
  </div><!-- .row -->

  <div class="popup-content">
    <div class="row">

      <div class="col-sm-12">

        <div class="popup-header">
          <h2 class="popup-title">Row52</h2>
          <div class="popup-subtitle">
            Image
          </div>
          <div class="popup-line"></div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <p>Row52 is a massive database search engine for car parts from cars about to be recycled (crushed).</p>
        <p>Check us out on the mobile store! We have about 100k user downloads for row52 on android alone!</p>
        <p>Customers are able to search for car parts and buy directly from a junk yard, almost all car parts are under $50. You pay a person in the area to come out to pull and ship the part to you for an additional small fee. Whereby causing an extremely cheap and convienent alternative to paying $1000 to a dealership for a brand new stock part.</p>
        <p>You can preview Startup Framework <a href="http://row52.com/">here</a>.</p>
      </div>

    </div>

  </div>

  <section class="popup-callout">
    <div class="row">

      <div class="col-sm-12">
        <h3>Like Our Works?</h3>
        <div class="module-line"></div>
      </div>

      <div class="col-sm-12">
        <div class="btn-list">
          <a href="index.html#services" class="btn btn-custom-3" target="_blank">View Services</a>
          <a href="index.html#contact" class="btn btn-custom-4" target="_blank">Start Project</a>
        </div>
      </div>

    </div>
  </section>

</div>