<div id="custom-content" class="white-popup-block">

  <div class="row">
    <div class="col-sm-12 text-center">

      <div class="owl-carousel owl-theme portfolio-slider">

        <!-- Put your slides here -->

        <div class="item">
          <img src="/assets/slide1.jpg" alt="">
        </div>

        <div class="item">
          <img src="/assets/slide2.jpg" alt="">
        </div>

      </div>

    </div><!-- .col -->
  </div><!-- .row -->

  <div class="popup-content">
    <div class="row">

      <div class="col-sm-12">

        <div class="popup-header">
          <h2 class="popup-title">Influxdata</h2>
          <div class="popup-subtitle">
            Slideshow (Coming soon!)
          </div>
          <div class="popup-line"></div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <p>The techies out there may know of Influxdata by their most popular databasing service InfluxDB. Influxdata is all about time series data, if you're not sure what that is, feel free to checkout the 15 minute explanation on the website!</p>
        <p>Influxdata is at the forefront of time series databasing (TSDB). TSDB is usually reserved for high profile databasing companies IE stock exchange, energy consumption profile etc.</p>
        <p>Find out more about influxdata at the link below, influxdata was a group project worked on with the input of our previous employer prior to going freelance.</p>
        <p>You can preview Startup Framework <a href="influxdata.com">here</a>.</p>
      </div>

    </div>

  </div>

  <section class="popup-callout">
    <div class="row">

      <div class="col-sm-12">
        <h3>Like Our Works?</h3>
        <div class="module-line"></div>
      </div>

      <div class="col-sm-12">
        <div class="btn-list">
          <a href="index.html#services" class="btn btn-custom-3" target="_blank">View Services</a>
          <a href="index.html#contact" class="btn btn-custom-4" target="_blank">Start Project</a>
        </div>
      </div>

    </div>
  </section>

</div>