<div id="custom-content" class="white-popup-block">

  <div class="row">
    <div class="col-sm-12 text-center">

      <!-- Put your video here -->

      <iframe width="840" height="500" src="//" frameborder="0" allowfullscreen></iframe>

    </div><!-- .col -->
  </div><!-- .row -->

  <div class="popup-content">
    <div class="row">

      <div class="col-sm-12">

        <div class="popup-header">
          <h2 class="popup-title">Dermpath Diagnostics</h2>
          <div class="popup-subtitle">
            Video (Coming Soon!)
          </div>
          <div class="popup-line"></div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <p>Dermpath diagnostics has dermatologist providers (doctors) in almost every state. There are composed of about 75 providers total making them one of the largest of their kind in the US.</p>
        <p>Feel free to check out the "what we do" page on the website for more info on what services the company provides exactly.</p>
        <p>The website itself is composed of over 90 views, each provider has their own mini website built and maintained within our website. Dermpath Diagnostics was a team effort built by us with the input of our previous employer prior to us going freelance.</p>
        <p>You can preview Dermpaths Framework <a href="http://www.dermpathdiagnostics.com/">here</a>.</p>
      </div>

    </div>

  </div>

  <section class="popup-callout">
    <div class="row">

      <div class="col-sm-12">
        <h3>Like Our Works?</h3>
        <div class="module-line"></div>
      </div>

      <div class="col-sm-12">
        <div class="btn-list">
          <a href="index.html#services" class="btn btn-custom-3" target="_blank">View Services</a>
          <a href="index.html#contact" class="btn btn-custom-4" target="_blank">Start Project</a>
        </div>
      </div>

    </div>
  </section>

</div>